{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/c3.css' %}">
</head>
<body>
    <h1>Displaying the image from specific static folders</h1>

    <h2>This is the content of temp.html</h2>

    <h3>This h3 tags</h3>

    <img src="{% static 'images/dhoni.jpg' %}" alt="">
</body>
</html>